.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 234px;
  height: 160px;
}
.button {
  position: relative;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 129px;
  width: 119px;
  flex-shrink: 0;
}
